nav {
  width: 100%;
}

.container {
  width: 100%;
  align-items: center;
  padding: 0 15px;
}

.app-bar {
  width: 100%;
  height: 118px;
  background-color: #9395d3;
  /* padding: 0 17px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-container svg,
.img-container png {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
}

.create-new {
  width: 70px;
  height: 70px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #d7d9ed;
}

.create-new svg {
  width: 22px;
  height: 25px;
}
